* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(launch.jpg);
    background-size: cover;
}

.main {
    display: flex;
    min-height: 100vh;
    min-width:100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(0,0,0, .9);
}

h1 {
    color: #FFF;
    background-color: black;
    margin-bottom:20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 20px rgb(140, 0, 255);
}

.keys {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 15px solid black;
    border-radius: 10px;
    box-shadow:0px 0px 20px rgb(140, 0, 255);
}

.key {
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.key.active {
    border: 2px solid rgb(140, 0, 255);
    color: rgb(140, 0, 255);
    box-shadow: 0px 0px 50px rgb(140, 0, 255);
}

.composer {
    width: 260px;
    margin-top: 20px;
}

.composer h2 {
    background-color: #FFF;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.composer #input {
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

.composer #input:focus {
    border: 2px solid rgb(140, 0, 255);
}

.composer button {
    width: 100%;
    height: 40px;
    background-color: rgb(140, 0, 255);
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.composer button:hover {
    background-color: rgb(225, 0, 255);
}

.slider {
    width: 100%;
    margin-top: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(225, 0, 255);
    cursor: pointer;
}

footer, #myPort {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}